@model IEnumerable<DTO.ListadoAtletasDTO>

@{
    ViewData["Title"] = "VerAtletas";
}

<h1>Listado de atletas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                    @Html.ActionLink("Agregar participación", "AgregarParticipacion", new { idAtleta = item.Id, nombrePrueba = ViewBag.NombrePrueba })
            </td>
        </tr>
}
    </tbody>
</table>
